.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

.hero .hero__title {
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.hero .hero__subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #53627c;
  width: 50%;
  text-align: center;
}
