footer.footer
    span.footer__copy
        |A product by 
        a(href="https://nomadcoders.co") Nomad Coders
    span.footer__copy Proudly built in 🇰🇷
    span.footer__copyright Codekits &copy; 2018 