.hero
    .hero__title CSS Sucks
    .hero__subtitle
        |Download Beautiful Premium React and React Native UI Components and Starter Kits
        |that help you finish your products faster.        