mixin techCircle(tech = {})
    .techCircle
        if tech.name === "react"
            i.fab.fa-react.react
        else if tech.name === "javascript"
            i.fab.fa-js-square.js
        else if tech.name === "apple"
            i.fab.fa-apple.apple
        else if tech.name === "android"
            i.fab.fa-android.android 
        else if tech.name === "chrome"
            i.fab.fa-chrome.chrome 
