extends layouts/main
include mixins/techCircle
include mixins/detailFeature
include mixins/detailNumber

block title
    title
        |eCommerce App React Native Codekit | Codekits 

block content
    .detail
        .detail__hero(style=`background-image:url("../images/firaHero.png")`)
        .detail__header
            span.detail__title Fira
            span.detail__subtitle eCommerce App React Native Codekit
            div.detail__techs
                +techCircle({
                    name:'react'
                })
                +techCircle({
                    name:'javascript'
                })
                +techCircle({
                    name:'apple'
                })
                +techCircle({
                    name:'android'
                })
        .details__numbers
            +detailNumber({
                number: 8,
                key:'Screens'
            })
            +detailNumber({
                number: 50,
                key:'Components'
            })
        .details__buttons
            a(href="#").btn Preview
            .divider
            .details__pwyw
                span Pay what you want
                .pwyw__btns
                    a(href="#").btn.btn--accent Download for free
                    a(href="#").btn.btn--accent Download for $10
                    a(href="#").btn.btn--accent Download for $20
        .detail__features
            +detailFeature({
                title:'iOS & Android Compatible',
                description: 'Built with React Native, this code kit can be used for both platforms.'
            })
            +detailFeature({
                title:'No Native Dependencies',
                description: 'This Code Kit works with the latest Expo version.'
            })
            +detailFeature({
                title:'Navigation Included',
                description: 'Tab Bars, Stacks and Headers already set up. Powered by React Navigation.'
            })
            //- +detailFeature({
                    title:'Static Typechecking',
                    description: 'We use Typescript to minimize bugs and improve the code quality.'
                })
            +detailFeature({
                title:'Built with Styled Components',
                description: 'Easy customization and clean code.'
            })
            //- +detailFeature({
                    title:'Documentation Available',
                    description: 'Integrate on your project seamlessly with the Story Book documentation provided.'
                })
        .detail__screens
            h5.detail__small-title Screens Included
            img(src="./images/firaScreens.png")