extends layouts/main
include mixins/codekitCard

block title
	title
		|Codekits: React and React Native UI Components and Starter Kits

block metas
	meta(name="description", content="Premium React and React Native UI Components and Starter Kits that help you finish your products faster.")

block content
		include partials/header
		main.codekits
			+codekitCard({
				image:'/images/firaPreview.png',
				link:"/fira.html",
				title:'Fira',
				description: 'eCommerce App React Native Codekit',
				price: 'Free',
				techs: ['react', 'javascript', 'apple', 'android']
			})