extends layouts/main
include mixins/codekitCard

block content
		include partials/header
		main.codekits
			+codekitCard({
				image:'/images/firaPreview.png',
				link:"/fira.html",
				title:'Fira',
				description: 'eCommerce App React Native Codekit',
				price: 'Free',
				techs: ['react', 'javascript', 'apple', 'android']
			})