extends layouts/main
include mixins/codekitCard

block content
		include partials/header
		main.codekits
			+codekitCard({
				image:'https://project365.design/wp-content/uploads/2018/09/14092018-post-600x338.png',
				link:"/fira.html",
				title:'Fira',
				description: 'Marketplace App React Native Codekit',
				price: 'Free'
			})