doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="author", content="Nicolás Serrano Arévalo nico@nomadcoders.co")
		meta(name="description", content="Premium React and React Native UI Components and Starter Kits that help you finish your products faster.")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
		title Codekits: React and React Native UI Components and Starter Kits
		link(rel="stylesheet", href="css/styles.css")
		link(rel="favicon", href="favicon.ico")
		body
			.wrapper
				header.header
					a(href="/")
						h1.header__logo Codekits
				block content
				include ../partials/footer