doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="author", content="Nicolás Serrano Arévalo nico@nomadcoders.co")
    meta(name="description", content="Premium React and React Native UI Components and Starter Kits that help you finish your products faster.")
    title Codekits: React and React Native UI Components and Starter Kits
    link(rel="stylesheet", href="css/styles.css")
    body
        block content
    